@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    @using System.Text.Json

    //get string from httpContext
    var deserializeTeam = Context.Session.GetObject<List<ShortTeam>>("num");

}
@model IEnumerable<Team>;

<p>This is the Cookie data: @TempData["TeamID"]</p>


<h3>This from our context class: @Context.Session.GetInt32("num")</h3>



<div class="col-sm-5">
    <ul class="list-inline">
        @foreach (var team in deserializeTeam)
        {
            
                <p> TeamID: @team.TeamID</p>
                <p> Team Name: @team.Name</p>
            
        }
    </ul>
</div>