@model FutureValueModel
@{
    ViewData["Title"] = "Future Value Calculator";
}
<h1>Future Value Calculator</h1>
<form asp-action="Index" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="MonthlyInvestment">Monthly Investment:</label>
        <input asp-for="MonthlyInvestment" />
    </div>
    <div>
        <label asp-for="YearlyInterestRate">Yearly Interest Rate:</label>
        <input asp-for="YearlyInterestRate" />
    </div>
    <div>
        <label asp-for="Years">Number of Years:</label>
        <input asp-for="Years" />
    </div>
    <div>
        <label>Future Value:</label>
        <input value="@ViewBag.FV.ToString("C2")" readonly>
    </div>
    
    <button type="submit">Calculate</button>
    <a asp-action="Index">Clear</a>

    <div>
        <label>RootValue</label>
        <input value=@ViewBag.TreeResult readonly>
    </div>
</form>

</br>
</br>
<b>How do I look? </b>
</br>

<label id="browserLabel">Detecting browser...</label>
<script>
    // The JavaScript to detect the browser
    var browserName;

    if (navigator.userAgent.indexOf("Chrome") != -1) {
        browserName = 'Chrome';
    } else if (navigator.userAgent.indexOf("Firefox") != -1) {
        browserName = 'Firefox';
    } else if (navigator.userAgent.indexOf("MSIE") != -1 || !!document.documentMode == true) {
        browserName = 'IE';
    } else if (navigator.userAgent.indexOf("Edge") != -1) {
        browserName = 'Edge';
    } else if (navigator.userAgent.indexOf("Safari") != -1 && navigator.userAgent.indexOf("Chrome") == -1) {
        browserName = 'Safari';
    } else {
        browserName = 'Unknown';
    }

    // Setting the detected browser name to the label
    document.getElementById('browserLabel').textContent = "You are using " + browserName;
</script>
