@*
    For more informdivtion on endivbling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}


@*Lab----------------------------------------------------------*@
@*@{
    for (int i = 0; i < 12; i++)
    {
        <div class="container">
            <div class="row">

                <div class="col-1">@i</div>
                @for (int j = 1; j <= 11; j++)
                {
                    <div class="col-1">@(j == i ? "Elemnt":j)</div>
                }
            </div>
        </div>
    }
}*@

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    .row div{
        margin-bottom:.5rem;
    }

    .small-input {
            width: 150px; 
            font-size: 12px; 
            padding: 5px;
        }

.row div {              

    border: 1px solid black;

    padding: 0.5rem;

    background-color: lightsteelblue;

}
    </style>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-1" id="11">1 </div>
        <div class="col-1" id="12">2</div>
        <div class="col-1" id="13">3</div>
        <div class="col-1" id="14">4</div>
        <div class="col-1" id="15">5</div>
        <div class="col-1" id="16">6</div>
        <div class="col-1" id="17">7</div>
        <div class="col-1" id="18">8</div>
        <div class="col-1" id="19"><span class="fas fa-shopping-cart"></span>9</div>
        <div class="col-1" id="110">10</div>
        <div class="col-1" id="111">11</div>
        <div class="col-1" id="112">12</div> 
    </div>
    <div class="row">
        <div class="col-1" id="21" >2 </div>
        <div class="col-1" id="22" >2</div>
        <div class="col-1" id="23" >3</div>
        <div class="col-1" id="24" >4</div>
        <div class="col-1" id="25" >5</div>
        <div class="col-1" id="26" >6</div>
        <div class="col-1" id="27" >7</div>
        <div class="col-1" id="28" >8</div>
        <div class="col-1" id="29" >9</div>
        <div class="col-1" id="210">10</div>
        <div class="col-1" id="211" >11</div>
        <div class="col-1" id="212" >12</div>
    </div>
    <div class="row">
        <div class="col-1" id="31">3 </div>
        <div class="col-1" id="32">2</div>
        <div class="col-1" id="33">3</div>
        <div class="col-1 bg-yellow" id="34">4</div>
        <div class="col-1" id="35">5</div>
        <div class="col-1" id="36">6</div>
        <div class="col-1" id="37">7</div>
        <div class="col-1" id="38">8</div>
        <div class="col-1" id="39">9</div>
        <div class="col-1" id="310">10</div>
        <div class="col-1" id="311">11</div>
        <div class="col-1" id="312">12</div>
    </div>
    

    @*Preparing Inputs*@
    <div container-fluid>
    <div class="row">
    <div class="col-mb-3">
        
            <div class="col-auto">
                <label class="visually-hidden">Row</label>
                        <input type="text" id="rowInput" class="form-control">
                <label class="visually-hidden" >Column</label>
                        <input type="text" id="columnInput" class="form-control">
                <button onclick="highlight( document.getElementById('rowInput').value, document.getElementById('columnInput').value)" class="btn btn-primary">Submit</button>
            </div>
         
    </div>
     </div>

     @*javascipt highlight function*@
    <script>

        var highlightedCells = {}

        function highlight(row,col){ 
            var cellId = row.toString() + col.toString();
            var cell = document.getElementById(cellId);
            if (cell && !highlightedCells[cellId]) {
                cell.style.backgroundColor = 'yellow';
                highlightedCells[cellId] = true;
                
            }
            else {
                cell.style.backgroundColor = '';
                highlightedCells[cellId] = false;
            }
        }


    </script>

    @*Lab----------------------------------------------------------*@

    @*footer navbar*@
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">​

    <div class="container-fluid">​

        <a class="navbar-brand" href="/">My Guitar Shop</a>​

        <button class="navbar-toggler" type="button" ​

                data-bs-toggle="collapse"​

                data-bs-target="#navbarSupportedContent" ​

                aria-controls="navbarSupportedContent"​

                aria-expanded="false" ​

                aria-label="Toggle navigation">​

            <span class="navbar-toggler-icon"></span>​

        </button>​


    </div>​

</nav>





















</div>