@*
    For more informdivtion on endivbling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}


@model ModelsDouble


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    .row div{
        margin-bottom:.5rem;
    }

    .small-input {
            width: 150px; 
            font-size: 12px; 
            padding: 5px;
        }

.row div {              

    border: 1px solid black;

    padding: 0.5rem;

    background-color: lightsteelblue;

}
    </style>
</head>

@*first row*@
<div class="container">
<div class="row">

      <div class="col-3" style="background: white">0</div>
      <div class="col-3" style="background: white">1</div>
      <div class="col-3" style="background: white">2</div>
      <div class="col-3" style="background: white">3</div>
</div>

@{ for (int i = 1; i < 4; i++)
    {

            <div class="row">

                <div class="col-3" style="background: white">@i</div>
                @for (int j = 1; j <= 3; j++)
                {
                    string targetID = i.ToString() + j.ToString();
                    string color = Model.CoordinatesList.FirstOrDefault(item => item.ID == targetID)?.color;
                    <div class="col-3" id=targetID style="background: @color">@targetID and @color</div>
                }
            </div>

        }
    }
</div>


@*Preparing Inputs*@
<div container-fluid>
    <div class="row">
        <div class="col-mb-3">
            <form method="post" asp-action="Index">
               <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-auto">
                    <label>Row coulmnString</label>
                    <input type="text" asp-for=@Model.CoordinatesIndividual.ID class="form-control">
                    <span asp-validation-for=@Model.CoordinatesIndividual.ID
                      class="col text-danger"></span>
                    <label>Color</label>
                    <input type="text"  asp-for=@Model.CoordinatesIndividual.color class="form-control">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
         </form>
     
    </div>
     </div>

    @*Lab----------------------------------------------------------*@

    @*footer navbar*@
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">​

    <div class="container-fluid">​

        <a class="navbar-brand" href="/">My Guitar Shop</a>​

        <button class="navbar-toggler" type="button" ​

                data-bs-toggle="collapse"​

                data-bs-target="#navbarSupportedContent" ​

                aria-controls="navbarSupportedContent"​

                aria-expanded="false" ​

                aria-label="Toggle navigation">​

            <span class="navbar-toggler-icon" >g</span>​

        </button>​


    </div>​

</nav>



</div>